/* Use JetBrains Mono for code */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400&display=swap');

.nav-container {
  width: 17rem; /* Default is 15.5rem, adjust as needed */
}

@media screen and (min-width: 1024px) {
  .nav-container {
    flex: 0 0 17rem; /* Adjust to match the width above */
  }
}

code,
pre,
.hljs {
  font-family: 'JetBrains Mono', monospace;
  font-size: 0.85em; /* Slightly smaller than default */
}

.toc.sidebar {
  flex-basis: 16.5rem; /* Default is 15rem */
}

.doc {
  max-width: 85rem; /* Default is 75rem */
}
